<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Rails101
        <br>Practice by
        <a href="https://github.com/chenyawei1227" target=_new>Chenyawei</a>
    </p>
</footer>
